.change {
  animation: grow 10s ease-in-out forwards;
  /* animation-name: grow; */
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

.iLikeTo{
  font-family: 'Reckless Neue';
  font-size: 9vw;
  
  transform: skew(-0.06turn, 0deg);
  z-index: -10;
}

.artcontainer  {
  width: 50vw;
  height: 75vh;
  min-width: 400px;
  min-height: 400px;
  margin: auto;
  display: flex;
  align-items: center;
}

.picCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    width: 50vw;
    height: 50vw;

    min-width: 400px;
    min-height: 400px;

    max-width: 500px;
    max-height: 500px;
    
    align-content: center;
    justify-content: center;

    background-color: grey;
    color: white;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search {
    outline: 0;
    border-width: 0 0 2px;
    background-color: rgba(255, 255, 255, 0);

    font-size: 9vw;

    position: absolute;
    bottom:5%;
    
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    /* text-shadow: -6px -4px 10px #ffffff; */

    font-family: 'Acumin Pro', Arial, Helvetica, sans-serif;
    /* font-weight: 300; */
    text-transform: uppercase;

    text-align: end;
    padding-right: 5%;
    width: 100vw;
}

.search:focus {
    border-color: black;
  }

